<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaTyjfE5U17-aac9nmIrZEk9QEB21swEU</string>
	<key>GCM_SENDER_ID</key>
	<string>803478150838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kangsudal.literacyk</string>
	<key>PROJECT_ID</key>
	<string>literacyk-e9ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>literacyk-e9ccc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803478150838:ios:4825d043643b08ce61d017</string>
</dict>
</plist>